:host {
  ::ng-deep {
    .p-speeddial {
      //position: unset;

      .pi {
        font-size: 1.5rem;
      }

      .p-button {
        background-color: var(--color-white);
        color: var(--background-color-overlay);
        border: none;
      }

      .p-button:focus {
        box-shadow: none;
      }

      .p-speeddial-button.p-button.p-button-icon-only .p-button-icon {
        font-size: 2rem;
      }

      .p-button:enabled:hover {
        background: var(--background-color-overlay);
        color: var(--color-white);
        border: none;
      }

      .p-speeddial-action {
        color: var(--background-color-overlay);
        background-color: var(--color-white);
        border: 1px solid var(--background-color-overlay);
      }

      .p-speeddial-action:hover {
        color: var(--color-white);
        background-color: var(--background-color-overlay);
      }
    }
  }
}
