:root {
  --background-color-body: #eff3f8;
  --color-white: #fff;
  --font-size-main: 2.4rem;
  --font-size-secondary: 1.6rem;
  --font-size-titles: 1.8rem;
  --font-size-card-description: 1.6rem;
  --font-size-12: 1.2rem;
  --font-family-title: "Rampart One", cursive;
  --font-family-title-secondary: "Sofia Sans Condensed", sans-serif;
  --background-color-overlay: #253159;
  --background-color-box-sidebar: rgba(194, 202, 235, 0.04);
  --color-menu-sidebar: #bdc3de;
}
