:root {
  --font-family-main: Roboto, "Helvetica Neue", sans-serif;
  --color-main: #dbeaf2;
  --color-secondary: #3057f3;
  --color-white: #fff;
  --color-blue: #8ca2f1;
  --color-submenu: #e4eafe;
  --font-size-main: 2.4rem;
  --font-size-secondary: 1.4rem;
  --background-color: #eff3f8;
  --font-family-title: "Rampart One", cursive;
  --font-family-title-secondary: "DynaPuff", cursive;
  --background-color-overlay: #02041f;
  --color-menu-sidebar: #bdc3de;
}
