<div class="flex flex-row">
    <div class="flex items-start pr-1">
        <button class="bg-gray-200 !rounded-l-xl font-normal !pl-0 !pr-0" mat-button [matMenuTriggerFor]="filterByMenu">
            <!-- <span class="text-xs">Filter by</span> -->
            <mat-icon >filter_list</mat-icon>
        </button>
        <mat-menu #filterByMenu="matMenu" yPosition="below">
            <ng-container *ngFor="let category of dataFilters" class="w-fit">
                <button  mat-menu-item [matMenuTriggerFor]="menuChild" class="text-base !p-0 !my-0 !h-9 !leading-none">
                    <mat-icon class="text-base px-1 !ml-0 !mr-1">{{category.iconName}}</mat-icon>
                    <span class="text-xs">{{category.value}}</span>
                </button> 
                <mat-menu #menuChild="matMenu" class="!min-w-min" >
                    <button *ngFor="let itemChild of category.childs" 
                        mat-menu-item (click)="onSelectNewFilter(category,itemChild)"
                        class="text-base justify-center items-center  !mx-0 !pr-5 !pl-0 !leading-none !h-7">
                        <div class="flex flex-row !min-w-min">
                            <div class="!pl-0.5 !mx-0 !w-5">    
                                <mat-icon *ngIf="isChildSelected(itemChild.key)" class="text-sm !px-0 !mx-0">done</mat-icon>
                            </div>
                            <div>
                                <span class="text-xs">{{itemChild.value}}</span>
                            </div>
                        </div>
                    </button>
                </mat-menu>
            </ng-container>
        </mat-menu>
    </div>
    <div>
        <mat-chip-list #chipListFilterBy  >
            <mat-chip *ngFor="let chipSelected of filterSelectedList"
                        (removed)="remove(chipSelected.childKey)">
                <i matChipAvatar class="material-icons text-base !mr-1">{{chipSelected.parentIconName}}</i>
                <span class="!text-xs">{{chipSelected.childValue}}</span> 
                <button matChipRemove class="!ml-1">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>