<mat-card class="bg-transparent !shadow-none text-gray-400 hover:text-gray-100 flex justify-between !p-1.5 !rounded-lg hover:bg-sky-900 my-3">
    <div class="flex items-center p-0 cursor-pointer">
      <mat-icon *ngIf="icon" class="p-0 text-base {{classColorIcon}} {{class}}">{{icon}}</mat-icon> 
      <div *ngIf="avatar" mat-card-avatar class="{{class}} bg-cover"></div>
      <div>{{display}}</div>
      <div *ngIf="actions">
        <button mat-button [matMenuTriggerFor]="aboveMenu">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu class="bg-transparent text-gray-400" #aboveMenu="matMenu" yPosition="above">
          <button class="text-gray-400 hover:text-gray-100" mat-menu-item>Profile</button>
          <button class="text-gray-400 hover:text-gray-100" mat-menu-item>Logout</button>
        </mat-menu>
      </div>
    </div>
</mat-card>