<div class="flex items-center !h-6 !rounded-lg border-2"> 
    <button mat-button  [matMenuTriggerFor]="sortByMenu"
        class="text-xs"
    >
        Sort by: {{sortSelected.value}}
        <!-- <mat-icon>keyboard_arrow_down</mat-icon> -->
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #sortByMenu="matMenu" 
              yPosition="below" 
              xPosition="before"
              class="!min-w-min">
        <button *ngFor="let objItemSort of sortByData" 
        (click)="procChangeOrd(objItemSort)" 
        mat-menu-item
        class="text-base !py-1 !my-0 !px-4 !h-7 !leading-none">
        <span class="text-xs">{{objItemSort.value}}</span>
        </button>
    </mat-menu>
</div> 
