<mat-card class="m-4 !pt-2 !p-4 !mb-0 min-h-fit">
    <div class="flex justify-between">
        <div id="barDashLeft" class="grid grid-flow-row md:grid-flow-col auto-cols-auto w-full">
            <app-search-field class=" min-w-fit pt-2" placeholder="Project name or attribute"></app-search-field>
            <app-filter-by-field [dataFilters]="dataFilters" 
                    (onMessages)="processNotification($event)"
                    (onChangeFilter)="procChangFilter($event)"
                    class="w-2/3 min-w-fit pt-2">
            </app-filter-by-field>
            <!-- <app-show-by-field></app-show-by-field> -->
        </div>
        <div id="barDahRight" class="flex items-center h-max">
            <button class="pt-2"><mat-icon>view_list</mat-icon></button>
            <button class="pt-2"><mat-icon>view_module</mat-icon></button>
            <button class="pt-2"><mat-icon>view_comfy</mat-icon></button>
            <mat-divider class="!mx-3 w-0.5 h-5 bg-gray-300 pt-2" [vertical]="true"></mat-divider>
            <button  class="hover:animate-bounce pt-2">
                <div matRipple class=" w-8"
                    [matRippleRadius]="23"
                    [matRippleUnbounded]="true"
                    [matRippleCentered]="true">
                    <img draggable=false class="!select-none" src="./assets/svg/file-add2.svg">
                </div>
            </button>
        </div>
    </div>
</mat-card>  
<mat-card class="m-4 mt-0.5 !p-2 !border-0 !shadow-none">
    <div class="flex justify-between">
        <div id="optRight">asd</div>
        <div id="optLeft">
            <app-sort-by-field [sortByData]="sortBy" (onChanceSort)="procChangeSort($event)" ></app-sort-by-field>
        </div>
    </div>
</mat-card>
