<mat-card class="m-4 !p-4">
    <div class="flex justify-between">
        <div id="barDashLeft" class="flex flex-auto">
            <app-search-field class="h-9 w-1/3 min-w-fit" placeholder="Project name or attribute"></app-search-field>
            <app-filter-by-field [dataFilters]="dataFilters" 
            (onMessages)="processNotification($event)"
            class="h-9 w-2/3 min-w-fit">

            </app-filter-by-field>
        </div>
        <div id="barDahRight" class="flex items-center">
            <button><mat-icon>view_list</mat-icon></button>
            <button><mat-icon>view_module</mat-icon></button>
            <button><mat-icon>view_comfy</mat-icon></button>
        </div>
    </div>
    
</mat-card>