<mat-card class="h-full !bg-gray-800 !p-0">
  <mat-card class="bg-transparent !block !p-2 m-1 !justify-center">
    <img mat-card-image src="/assets/img/LogoVo2Vo_03.png" class="!w-1/4 !m-0 !p-0 !text-center" alt="vo2vo">
    <p class="font-mono font-bold text-indigo-400 relative text-center">Vo2Vo</p> 
  </mat-card>
  <mat-card class="bg-transparent !shadow-none !p-1 ">  
    <app-button-main-menu display="Home" icon="home" classColorIcon="text-violet-500"></app-button-main-menu>
    <app-button-main-menu display="Project" icon="folder_open" classColorIcon="text-teal-500"></app-button-main-menu>
  </mat-card>
  <mat-card class="bg-transparent !shadow-none !p-1 !absolute bottom-0 w-full ">
    <app-button-main-menu 
        display="Jhonathan Ramirez." 
        avatar="true" 
        class="!mx-3 bg-[url('/assets/img/user_blank.png')] bg-cover"
        actions="true"
    >
      </app-button-main-menu>
  </mat-card>
</mat-card>





