<div class="container">
  <p-menubar [model]="items" [styleClass]="'subnav'">
    <ng-template pTemplate="start">
      <div class="submenu">
        <span class="w100 p-input-icon-left p-float-label">
          <i class="pi pi-search"></i>
          <input id="search" class="w100" type="text" pInputText />
          <label htmlFor="search">{{
            "dashboard.projectName" | translate
          }}</label>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="folders">
        <v2v-speed-dial
          [V2vSpeedDialDefinition]="speedialDefinition"
        ></v2v-speed-dial>
      </div>
    </ng-template>
  </p-menubar>
  <v2v-card-view
    *ngIf="projectsDefinition && viewType === 'card'"
    [projectsDefinition]="projectsDefinition"
  ></v2v-card-view>

  <v2v-folder-view-project
    *ngIf="projectsDefinition && viewType === 'folder'"
    [projectsDefinition]="projectsDefinition"
  >
  </v2v-folder-view-project>

  <v2v-list-view-project
    *ngIf="projectsDefinition && viewType === 'list'"
    [projectsDefinition]="projectsDefinition"
  ></v2v-list-view-project>
</div>
