:host {
  .submenu {
    display: flex;
  }

  .folders {
    display: flex;

    .p-button.p-button-text {
      padding: 0;
    }

    img {
      width: 2rem;
    }
  }

  ::ng-deep {
    .p-menubar .p-menuitem-link .p-menuitem-icon {
      font-size: 2rem;
    }

    .folders {
      .p-speeddial {
        position: unset;
      }
    }

    .pi-bars {
      font-size: 2rem;
    }

    .pi-filter:before,
    .pi-bars:before,
    .pi-language:before {
      color: var(--color-secondary);
    }

    .subnav {
      background-color: var(--color-white);
      margin-top: 1rem;
    }

    .search {
      display: flex;
    }

    .w100 {
      width: 100%;
      min-width: 30rem;
    }

    .p-menubar .p-menubar-root-list {
      border: none;
    }

    @media screen and (max-width: 960px) {
      .p-menubar .p-menubar-button {
        width: 3rem;
        height: 3rem;
        margin-left: 1rem;
      }
    }

    @media (max-width: 768px) {
      .w100 {
        min-width: 10rem;
      }
      .subnav {
        display: grid;
        grid-template-areas:
          "first second"
          "third third";
        .p-menubar-start {
          grid-area: first;
          width: 100%;
        }

        .p-menubar-end {
          grid-area: second;
        }
      }

      .p-menubar .p-menubar-button {
        margin-left: 0;
      }
    }
  }

  .custom-overlay {
    display: grid;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: none;
    border-radius: 0.5rem;
    padding: 1rem 0;

    span {
      color: var(--background-color-overlay);
      font-size: var(--font-size-12);
      margin-left: 0.5rem;
    }
  }
}
