<nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <a href="/projects" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
          <mat-icon class="text-base" >home</mat-icon> 
        </a>
      </li>
      <li class="!ml-0">
        <div class="flex items-center">
          <span>/</span>
          <a href="#" class="ml-1 text-xs italic font-medium text-gray-700
           hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Projects</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
            <span>/</span>
          <span class="ml-1 text-xs italic font-medium text-gray-500 md:ml-2 dark:text-gray-400">Flowbite</span>
        </div>
      </li>
    </ol>
  </nav>
