<ng-container *ngIf="projectItem.typeItem == 'folder'">
    <img draggable=false class="!select-none w-36 transparent !p-0" src="./assets/svg/folder-project-item.svg">
    <div class="relative transparent !p-0">
        <div class="absolute left-1 -top-24 px-2 w-28 truncate whitespace-normal">
            <button (click)="procClickFolder('_open',projectItem)">
                <p class="text-amber-800 font-medium text-sm">{{projectItem.nameProjectItem}}</p>
            </button>
        </div>
        <div class="absolute right-0 -top-10 px-2 items-center">
            <button mat-button [matMenuTriggerFor]="menuFolder" class="!w-5 !h-5 !min-w-min !p-0 !m-0 !text-sm 
             !text-black !hover:text-white   !rounded-full
            hover:bg-yellow-600 dark:bg-yellow-200 dark:hover:bg-yellow-100  ">...</button>
        </div>
        <mat-menu #menuFolder="matMenu" class="!min-w-min bg-yellow-100">
            <button *ngFor="let opt of dataOptionFolder" (click)="procClickFolder(opt,projectItem)" class="text-xs !px-3 !my-0 !h-7 !leading-none" mat-menu-item>{{opt}}</button>
        </mat-menu>
    </div>
</ng-container>

<div *ngIf="projectItem.typeItem == 'item'" class="w-full max-w-sm overflow-hidden bg-slate-200 rounded-lg shadow-lg dark:bg-gray-800">

    <img  class="object-cover object-center w-full h-36"
        src="{{projectItem.imgCover}}"
        alt="avatar">

    <div class="flex justify-between px-4 py-1 bg-gray-900">
        <p class="mx-3 !my-0 text-sm w-52 truncate whitespace-normal text-white">{{projectItem.nameProjectItem}}</p>
        <button mat-button [matMenuTriggerFor]="menuItemPro"
                class="!w-8 !min-w-min !p-0  py-0.5 text-base  text-white  transition-colors duration-300 transform rounded hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 ">
                <i class="material-icons">more_horiz</i>
        </button>
        <mat-menu #menuItemPro="matMenu" class="!min-w-min bg-slate-300">
            <button *ngFor="let opt of dataOptionItemPr" (click)="procClickItemProj(opt,projectItem)" class="text-xs !px-3 !my-0 !h-7 !leading-none" mat-menu-item>{{opt}}</button>
        </mat-menu>

    </div>
    <div class="px-6 py-1">
        <div class="flex items-center mt-1 text-gray-700 dark:text-gray-200">
            <mat-icon class="text-lg !h-full">translate</mat-icon>
            <p class="px-2 !my-0 ">{{projectItem.originalLanguaje}}  to {{projectItem.targetLanguaje}}</p>
        </div>
        <div class="flex items-center mt-1 text-gray-700 dark:text-gray-200">
            <mat-icon class="text-lg !h-full">video_library</mat-icon>
            <p class="px-2 !my-0 ">{{projectItem.media}}</p>
        </div>
        <div class="flex items-center mt-1 text-gray-700 dark:text-gray-200">
            <mat-icon class="text-lg !h-full">extension</mat-icon>
            <p class="px-2 !my-0">
                <ng-container *ngFor="let fect of projectItem.features; index as i; last as last">
                    {{fect}} <ng-container *ngIf="!last">/</ng-container>
                </ng-container>
            </p>
        </div>
    </div>    
</div>