.tags {
  display: flex;
  gap: 1rem;

  &__tag {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.2rem;
    cursor: pointer;
  }
}

img {
  width: 2rem;
}

.folder {
  display: inline-flex;
  position: relative;
  top: 0.5rem;

  label {
    padding: 0.5rem 0 0 0.5rem;
  }
}

:host {
  ::ng-deep {
    .p-speeddial {
      position: unset;
    }

    .p-treetable .p-treetable-scrollable-header,
    .p-treetable .p-treetable-scrollable-footer {
      background: transparent;
    }

    .p-treetable .p-treetable-thead > tr > th {
      border: none;
    }

    .p-treetable .p-treetable-tbody > tr > td {
      border: none;
    }
  }
}

.table {
  margin-top: 2rem;
  box-sizing: border-box;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 1rem;
}
