.v2vAccount,
.v2vOverview {
  display: grid;
  background: var(--background-color-box-sidebar);
  border-radius: 1rem;
  padding: 1rem 1rem;
}

.v2vAccount {
  &__user {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    &__info {
      display: grid;
      text-align: center;
      color: var(--color-menu-sidebar);
      font-size: var(--font-size-secondary);
      line-height: 1.5;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: space-evenly;
    width: 100%;
  }
}

.v2vOverview {
  margin-bottom: 1rem;
  font-size: var(--font-size-12);
  color: var(--color-menu-sidebar);
  padding: 0.5rem 0.5rem;

  &__plan {
    font-weight: 700;
  }
}

.v2vRemaining {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-secondary);
  img {
    width: 3rem;
  }
}

:host {
  ::ng-deep {
    .p-button {
      color: var(--color-menu-sidebar);
    }

    .p-button.p-button-text:enabled:hover {
      color: var(--color-white);
    }
  }
}
