<div class="v2vOverview">
  <div class="v2vRemaining">
    <circle-progress
      [percent]="50"
      [maxPercent]="100"
      [radius]="15"
      [titleFontSize]="'12'"
      [showSubtitle]="false"
      [outerStrokeWidth]="4"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#bdc3de'"
      [animation]="true"
      [titleColor]="'#bdc3de'"
      [unitsColor]="'#bdc3de'"
      [animationDuration]="300"
    ></circle-progress>
    <label>Remaining Credits</label>
  </div>
</div>

<div class="v2vAccount">
  <div class="v2vAccount__user">
    <p-avatar
      icon="pi pi-user"
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
    <div class="v2vAccount__user__info">
      <label class="fw-900">Gabriel Herrera</label>
      <label class="">gaboghz654@gmail.com</label>
    </div>
  </div>
  <div class="v2vAccount__buttons">
    <p-button
      label="Account"
      styleClass="p-button-raised p-button-text"
      (click)="account()"
    ></p-button>

    <p-button
      label="Log Out"
      styleClass="p-button-raised p-button-text"
      (click)="logOut()"
    ></p-button>
  </div>
</div>
