.user {
  position: relative;
  margin: 0 5rem;
  cursor: pointer;
}

::ng-deep {
  .custom-overlay.custom-overlay {
    border-radius: 0.5rem;
    top: 45px !important;
    left: -23rem !important;
    box-shadow: 0 4px 10px #00000008, 0 0 2px #0000000f, 0 2px 6px #0000001f !important;
  }

  p-avatar {
    text-align: center;
  }
}

.account {
  background-color: var(--background-color);
  width: 25rem;

  .body {
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 1rem 3rem;
    justify-content: space-between;
  }

  .header {
    display: grid;
    border-radius: 0.5rem;
    justify-content: center;
    background-color: var(--background-color-overlay);
    gap: 1rem;
    padding: 1rem 0;
    text-align: center;

    &__info {
      display: grid;
    }

    &__options {
      display: flex;
      margin-bottom: 1rem;
      justify-content: space-between;
    }
  }
}
