<p-menubar styleClass="nav">
  <ng-template pTemplate="start">
    <div class="sidebar">
      <p-button
        styleClass="p-button-lg p-button-text "
        (click)="sidebarVisible = true"
        icon="pi pi-bars"
      ></p-button>
      <img src="../../assets/svg/icon-vo2vo.ai.svg" height="60" class="ml-2" />
      <span class="title title_logo white fw-900">Vo2Vo.ai</span>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="options">
      <div class="options__buttons">
        <p-button
          [ngClass]="{ activeSubmenu: currentPage === menu.page }"
          styleClass="p-button-text"
          *ngFor="let menu of itemsMenu"
          (click)="navigate(menu)"
        >
          <img [src]="menu.img" />
          <span>{{ menu.label }}</span>
        </p-button>
      </div>
    </div>
  </ng-template>
</p-menubar>

<app-bread-crumb (onItemSelected)="onSelectedUser($event)"></app-bread-crumb>
<router-outlet></router-outlet>
<app-home *ngIf="showHome"></app-home>

<p-sidebar [(visible)]="sidebarVisible" styleClass="custom-sidebar">
  <ng-template pTemplate="header">
    <img
      src="../../assets/svg/icon-vo2vo.ai.svg"
      height="50"
      style="width: 5rem"
    />
    <span class="title title_logo white fw-900">Vo2Vo.ai</span>
  </ng-template>
  <ng-template pTemplate="body">
    <div class="body">
      <ul class="list">
        <li
          class="list__item"
          [ngClass]="{ active: currentPage === item.page }"
          *ngFor="let item of itemsSidebar"
          (click)="navigate(item)"
        >
          <img [src]="item.img" />
          <span>{{ item.label }}</span>
        </li>
      </ul>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <app-user (onSelected)="onSelectedUser($event)"></app-user>
  </ng-template>
</p-sidebar>
