@import "./assets/scss/variables.scss";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family-title-secondary);
  font-size: 1.6rem;
  line-height: 1.8;
  background-color: var(--background-color-body);
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.fw-900 {
  font-weight: 900;
}

.title {
  text-align: center;
  font-family: var(--font-family-title-secondary);
}

.title_logo {
  font-family: var(--font-family-title);
  font-size: var(--font-size-main);
  color: var(--background-color-overlay);
}

.white {
  color: var(--color-white);
}

.title_primary {
  font-size: var(--font-size-secondary);
  color: var(--color-white);
}

.p-input-icon-left {
  display: flex;
}

/*
.p-input-icon-left > i {
  top: 38%;
}

.p-float-label label {
  top: 38%;
}

*/

.p-inputtext {
  padding: 1rem 0.75rem;
}

.p-menubar .p-submenu-list {
  border-radius: 0.5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.container {
  margin: 3rem 1rem;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .container {
    margin: 0 6rem;
  }
}

.p-button {
  font-size: var(--font-size-secondary);
  padding: 0.5rem 0.75rem;
  font-weight: 700;
}

.p-inputtext:enabled:hover {
  border-color: var(--background-color-overlay);
}
