<mat-drawer-container class="mx-auto w-full h-full border-0" autosize [hasBackdrop]="false">
    <mat-drawer #drawer id="menuMain" class="p-0 w-56 !rounded-none" mode="side" opened="true" disableClose="true">
      <app-main-menu [drawerPanel]="drawer" ></app-main-menu>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar class="bg-gray-700 w-full mx-0 !p-1 h-12" >
        <mat-icon matRipple 
        [matRippleUnbounded]="true"
        [matRippleCentered]="true"
        (click)="onClicMenu(drawer)"
        class="text-white relative top-0 right-0 bg-gray-700 rounded-full">
        {{openCloseMenu}}
        </mat-icon>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>




